.wid{
    padding-left: 10%;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    border-radius: 25px;
    width: auto;
    height: auto;
    flex: 1;
    border: 0;
    outline: 0;
}
.pict{
    border-radius: 22px;
    width: 56px;
    height: 59px;
}
.formWidget{
    display: none;
}



